extends layout

block content
  .row
    .col-lg-12
      if(title)
        h1.page-header= title
          a(href="/messages/unresolved").btn.btn-danger.pull-right
            span.unresolved-count &nbsp;
            | &nbsp;onafgehandelde berichten
      else
        h1.page-header Home
          a(href="/messages/unresolved").btn.btn-danger.pull-right
            span.unresolved-count &nbsp;
            | &nbsp;onafgehandelde berichten
  .row
    .col-lg-12.page-messages
      each message, i in messages
        +message(message, user)
      if(messages.length < 1)
        .alert.alert-info Er werden geen berichten gevonden voor de huidige criteria.
