doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Prikbord


    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/sb-admin-2.css', rel='stylesheet')
    link(href='/stylesheets/datepicker3.css', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')
    link(href='/fa/css/font-awesome.min.css', rel='stylesheet')

    link(rel='shortcut icon', href='/favicon.icon', type='image/x-icon')
    //
       HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    //
       WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    #wrapper
      //
         Navigation 
      nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0;')
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Prikbord
        .navbar-default.sidebar(role='navigation')
          .sidebar-nav.navbar-collapse
            ul#side-menu.nav
              li.sidebar-search
                form(action="/search/submit", method="POST")
                  .input-group.custom-search-form
                    if search_query
                      input.form-control(type='text', name="search_query", placeholder='Zoeken...', value=search_query)
                    else
                      input.form-control(type='text', name="search_query", placeholder='Zoeken...')
                    span.input-group-btn
                      button.btn.btn-default(type='submit')
                        i.fa.fa-search
                //
                   /input-group
              li.sidebar-datepicker
                div.datepicker
              li
                a.active(href='/')
                  i.fa.fa-envelope-o.fa-fw
                  | &nbsp; Berichten
              li
                a(href="/messages/new")
                  i.fa.fa-envelope-o.fa-fw
                  | &nbsp; Nieuw bericht
              li
                a(href='/users')
                  i.fa.fa-user
                  | &nbsp; Gebruikers
      #page-wrapper
        block content

    //  jQuery Version 1.11.0
    script(src='/js/jquery-1.11.0.js')
    //  Bootstrap Core JavaScript
    script(src='/js/bootstrap.min.js')
    //  Metis Menu Plugin JavaScript
    script(src='/js/plugins/metisMenu/metisMenu.min.js')
    //  Bootstrap datepicker
    script(src='/js/plugins/bootstrap-datepicker/bootstrap-datepicker.js')
    //  Custom Theme JavaScript
    script(src='/js/sb-admin-2.js')
    //  Jquery cookie
    script(src='/js/plugins/cookie/jquery.cookie.js')
    // Moment
    script(src='/js/plugins/moment/moment-with-locales.js')



