extends layout
block content
  .row
    .col-lg-12
      h1.page-header Bericht bewerken

  .row
    .col-lg-12
      form(method="post")
        div.row
          div.form-group-lg.col-lg-6
            input(type="text", placeholder="Geef hier een onderwerp in", name="subject", value="#{message.subject}").form-control
            br
        div.row
          div.form-group-lg.col-lg-6
            textarea(name="message", placeholder="Schrijf hier uw bericht").form-control #{message.message}
        br
        div.row
          div.form.group-lg.col-lg-6
            input.datepicker(name="date", type="text", placeholder="Datum waarop uw bericht geplaatst wordt", value="#{moment(message.date).format('DD/MM/YYYY')}").form-control
        br
        div.row
          div.form.group-lg.col-lg-6
            input(type="checkbox", value="#{message.important}", name="important")
            span &nbsp;&nbsp;Belangrijk
        br
        div.row
          div.col-lg-6
            input(type="submit", name="update", value="Opslaan").btn.btn-primary
            input(type="submit", name="delete", value="Bericht verwijderen").btn.btn-default.pull-right

